/* Start Global Style */
@import url(../styles/main.css);
/* End Global Style */
/* Start Loading Screen */
.wrap-loader {
    position: fixed;
    z-index: 9999;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}
.loader {
    position: relative;
    width: 20rem;
    height: 20rem;
}
.loader::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8.6956521739rem;
    height: 8.6956521739rem;
    background: #000;
    border-radius: 50%;
}
.loader .box {
    position: absolute;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
}
.loader .box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.1;
}
.loader .box:nth-child(1) {
    top: 0;
    left: 0;
}
.loader .box:nth-child(1)::before {
    top: 50%;
    left: 50%;
    background: #4185f3;
    animation: lightMe1 4s ease-out infinite normal;
}
.loader .box:nth-child(2) {
    top: 0;
    right: 0;
}
.loader .box:nth-child(2)::before {
    top: 50%;
    right: 50%;
    background: #33a753;
    animation: lightMe2 4s ease-out infinite normal;
}
.loader .box:nth-child(3) {
    bottom: 0;
    right: 0;
}
.loader .box:nth-child(3)::before {
    bottom: 50%;
    right: 50%;
    background: #fabb04;
    animation: lightMe3 4s ease-out infinite normal;
}
.loader .box:nth-child(4) {
    bottom: 0;
    left: 0;
}
.loader .box:nth-child(4)::before {
    bottom: 50%;
    left: 50%;
    background: #e94234;
    animation: lightMe4 4s linear infinite normal;
}
.loader .wrap-text {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.loader .text {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    animation: slider 8s ease-in infinite;
}
.loader .text span {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 2em;
    color: #fff;
}
.loader-text {
    color: #fff;
    font-size: 1.8rem;

    transform: translateY(-2rem);
    letter-spacing: 6px;
    opacity: 0.2;
    animation: blink 1s ease-out infinite alternate;
}
@keyframes lightMe1 {
    0% {
        opacity: 0.1;
   }
    25% {
        opacity: 1;
   }
    100% {
        opacity: 1;
   }
}
@keyframes lightMe2 {
    0% {
        opacity: 0.1;
   }
    25% {
        opacity: 0.1;
   }
    50% {
        opacity: 1;
   }
    100% {
        opacity: 1;
   }
}
@keyframes lightMe3 {
    0% {
        opacity: 0.1;
   }
    50% {
        opacity: 0.1;
   }
    75% {
        opacity: 1;
   }
    100% {
        opacity: 1;
   }
}
@keyframes lightMe4 {
    0% {
        opacity: 0.1;
   }
    75% {
        opacity: 0.1;
   }
    100% {
        opacity: 1;
   }
}
@keyframes slider {
    0% {
        transform: translateY(0);
   }
    10.5% {
        transform: translateY(0);
   }
    12.5% {
        transform: translateY(-40px);
   }
    23% {
        transform: translateY(-40px);
   }
    25% {
        transform: translateY(-80px);
   }
    35% {
        transform: translateY(-80px);
   }
    37.5% {
        transform: translateY(-120px);
   }
    47.5% {
        transform: translateY(-120px);
   }
    50% {
        transform: translateY(-160px);
   }
    60% {
        transform: translateY(-160px);
   }
    62.5% {
        transform: translateY(-200px);
   }
    72.5% {
        transform: translateY(-200px);
   }
    75% {
        transform: translateY(-240px);
   }
    85% {
        transform: translateY(-240px);
   }
    87.5% {
        transform: translateY(-280px);
   }
    100% {
        transform: translateY(-280px);
   }
}
@keyframes blink {
    from {
        opacity: 0.2;
   }
    to {
        opacity: 0.75;
   }
}

/* End Loading Screen */
/* Start Hero Section */
.hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video{
    position: absolute;
    width: 100%;
    height: 53rem;
    z-index: 1;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}
.hero h1{
    position: absolute;
    text-align: center;
    top: 40%;
    color: var(--white);
    z-index: 3;
}
@media (max-width: 775px) {
    .hero h1{
        top: 45%;
    }
}
@media (max-width: 400px) {
    .hero h1{
        font-size: 2rem;
    }
}


.icon-scroll{
    z-index: 3;
}
/* End Hero Section */
/* Start Contact Section */
.contact{
    position: relative;
    height: 80vh;
    background: url(../images/contact-us-background.png) no-repeat;
    background-size: cover;
}
.contact input,
.contact textarea{
    background-color: var(--light-blue);
    width: 100%;
    margin-top: 2rem;
    margin-bottom: .5rem;
    padding: .8rem;
    outline: var(--light-blue);
    border-color: transparent;
    box-shadow: 0 0 .5rem var(--dark-blue);
    border-radius: .5rem;
}
.contact textarea{
    resize: none;
}
.contact input:focus,
.contact textarea:focus{
    border: 2px solid var(--dark-blue);
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder{
    color: var(--black);
}
.contact input::-moz-placeholder, .contact textarea::-moz-placeholder{
    color: var(--black);
}
.contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder{
    color: var(--black);
}
.contact input::-ms-input-placeholder, .contact textarea::-ms-input-placeholder{
    color: var(--black);
}
.contact input::placeholder,
.contact textarea::placeholder{
    color: var(--black);
}
.contact .username .fas,
.contact .email .fas,
.contact .message .fas{
    position: absolute;
    font-size: 1.5rem;
}

.contact .username .fas{
    top: 8%;
    left: -3%;
}
.contact .email .fas{
    top: 25%;
    left: -3%;
}
.contact .message .fas{
    top: 42%;
    left: -3%;
}


.right i{
    font-size: 6rem;
    display: block;
    color: #3F3D56;
    margin-left: 70%;
    margin-top: 3rem;
}
@media (max-width: 1200px){
    .right i{
        font-size: 5rem;
        
    }
}
@media (max-width: 775px){
    .right i{
        font-size: 3rem;
        margin-top: 3rem;
    }
}
@media (max-width: 580px){
    .right i{
        font-size: 3rem;
        margin-top: 3rem;
    }
    .contact .username,
    .contact .email,
    .contact .message {
        margin-left: 5%;
    }
    .contact .username .fas{
        top: 8%;
        left: 1%;
    }

    .contact .email .fas{
        top: 25%;
        left: 1%;
    }
    .contact .message .fas{
        top: 42%;
        left: 1%;
    }
    .contact .btn{
        margin-left:5%;
    }
}
@media (max-width: 400px){
    .right i{
        font-size: 3rem;
    }
}
/* End Contact Section */
/* Start Footer Section */
.footer{
    height: 3rem;
    background-color: var(--secondary-dark-blue);
    color: var(--white);
}
.footer i:hover,
.footer a:hover{
    color: var(--black);
}
.footer i{
    margin-right: .2rem;
}
.footer-list{
    list-style-type: none;    
}
.footer-list a{
    text-decoration: none;

}
.footer-list li{
    display: inline;
    margin-left: 1rem;
}
.left{
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
}
.right{
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}
.copyright h5{
    margin-top: 1.3rem;
    font-size: .8rem;
}
.copyright a{
    text-decoration: none;
}
@media (max-width:1200px) {
    .footer{
        overflow: hidden;
        height: 4rem;
    }
    .right{
        font-size: .8rem;
    }
    .copyright{
        font-size: .3rem;
    }
}
@media (max-width:775px) {
    .footer{
        overflow: hidden;
        height: 10rem;
    }
    .right{
        font-size: 1rem;
    }
    .right li{
        display: block;
    }
    .left i{
        display: block;
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    .copyright{
        font-size: 1.2rem;

        width: 6rem;
        margin-top: 5%;
    }
    

}
/* End Footer Section */