/* Start Global Styles */
@import url(../styles/main.css);
body{
    background-color: var(--light-blue);
}

/* End Global Styles */
/* Start Navbar */
.header{
    background-color: var(--white);
    color: var(--black);
    position: fixed;
    border-bottom: 1px solid var(--gray); 
}

.hamburger-menu{
    color: var(--black);
}
.nav-item,
.nav-list
{
    color: var(--black);
}
/* End Navbar */

/* Start Gallery */

.gallery img{
    width: 100%;
    height: auto;
    display: block;
}

.gallery .container{
    padding-top: 5rem;

} 

.img-container{
    overflow: hidden;
    background: var(--light-blue);
    position: relative;
    border: 1px solid #000;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0 15px #000;
            box-shadow: 0 0 15px #000;
}

.content{
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    color: #fff;
    opacity: 0;
    cursor: pointer;
}

.img-container:hover .content{
    opacity: 1;
    background: var(--light-blue);
}
.img-container:hover img{
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);

}

.zoom-text{
    width: 5rem;
    height: 5rem;
    background: var(--secondary-dark-blue);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.content h2{
    padding: 15px 0;
}

.zoom-text:hover{
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
/* Js Related */
.image-view{
    position: fixed;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    display: none;

}
.img-container img{
    height: 22rem;
    width: auto;
    margin: auto;
}
.image-box{
    width: 60vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--secondary-light-blue);
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.close{
    position: absolute;
    top: .1rem;
    right: -2rem;
    color: var(--dark-blue);
    cursor: pointer;
    font-size: 1.5rem;
}
.close:active,
.close:hover{
    color: var(--dark-blue);
    border: none;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    
}

#prev-btn, #next-btn{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer;
}
#prev-btn{
    left: -5rem;
    color: #fff;
}
#next-btn{
    right: -5rem;
    color: #fff;
}
#next-btn:hover,
#prev-btn:hover{
    opacity: .6;
    color: var(--secondary-dark-blue);
}
/* Media Queries */
@media (max-width: 992px) {
    .container{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .image-box{
        height: 55vh;
    }
}

@media (max-width: 678px) {
    .image-box{
        height: 40vh;
    }
    #prev-btn{
        left: -2.2rem;
    }
    #next-btn{
        right: -2.2rem;
    }
    .fa-3x{
        font-size: 2em!important;
    }
}

@media (max-width: 400px) {
    .image-box{
        height: 25vh;
    }
}

/* End Gallery */

















/* Start Footer Section */
.footer{
    height: 3rem;
    background-color: var(--secondary-dark-blue);
    color: var(--white);
   
}
.footer i:hover,
.footer a:hover{
    color: var(--black);
}
.footer i{
    margin-right: .2rem;
}
.footer-list{
    list-style-type: none;    
}
.footer-list a{
    text-decoration: none;

}
.footer-list li{
    display: inline;
    margin-left: 1rem;
}
.left{
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
}
.right{
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}
.copyright h5{
    margin-top: 1.3rem;
    font-size: .8rem;
}
.copyright a{
    text-decoration: none;
}
@media (max-width:1200px) {
    .footer{
        overflow: hidden;
        height: 4rem;
    }
    .right{
        font-size: .8rem;
    }
    .copyright{
        font-size: .3rem;
    }
}
@media (max-width:775px) {
    .footer{
        overflow: hidden;
        height: 10rem;
    }
    .right{
        font-size: 1rem;
    }
    .right li{
        display: block;
    }
    .left i{
        display: block;
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    .copyright{
        font-size: 1.2rem;

        width: 6rem;
        margin-top: 5%;
    }
    

}
/* End Footer Section */